.container{

background-image: url("../images/OZ.jpg");
margin: 0 auto;

}


#questionContainer{
    width: 968px;
    height:500px;
    margin: 10% 15% 5% 18%;
    border-style: solid;
    border-color: aquamarine;
    border-width: 5px;
    background-color: cadetblue;
    opacity: 0.6;

}

