
/* Main body container and background image*/
.container{
background-image: url("../images/OZ.jpg");
width: 968px;
height:400px;
margin: 0 auto;
}
/* Question and answer container*/
#questionContainer{
    width: 100%;
    margin: 3% 0% 2% 0%;
    border-style: solid;
    border-color: aquamarine;
    border-width: 5px;
    background-color: cadetblue;
    opacity: 0.8;
}
/*Answer buttons*/
#buttons{
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    color: darkred;
}
/*Game Timer Countdown*/
#gameTimer{
    margin: 11% 5% 3% 5%;
    color: #50C878;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
}
/*Question Display*/
#currentQuestion{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 35px;
    text-align: center;
    color: darkred;
}
/*Background image for Game Timer*/
.timerImage{
    background-image: url("../images/witch.gif");
    width: 480px;
    height: 280px;
    margin: 25% 0% 0% 0%;
    border-style: solid;
    border-color: aquamarine;
    border-width: 5px;
    float: left;
    
}
/*Wizard of Oz Trivia Logo*/
#triviaLogo{
    width: 200px;
    height: 282px;
    float: left;
    margin: 25% 0% 0% 0%;
    border-style: solid;
    border-color: aquamarine;
    border-width: 5px;
    opacity: 0.8;
}
/*Right and Wrong answer Container*/
#score{
    width: 200px;
    height: 282px;
    border-style: solid;
    border-color: aquamarine;
    border-width: 5px;
    float: right;
    margin: 22% 0% 3% 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    text-align: left;
    color: #50C878;
    opacity: 0.7;
}
/*Trivia text on The Wizard of OZ logo*/
#logoText{
    font-family: cursive;
    font-weight: bolder;
    font-size: 60px;
    text-orientation: sideways-right;
    color: rgb(192, 8, 8);
    margin-left: 5%;
    margin-top: 55%;
}
/*Footer container*/
#footer{
    width: 100%;
    color:darkred;
    background-color: #50C878;
    border-style: solid;
    border-color: aquamarine;
    border-width: 5px;
    opacity: 0.8;
    text-align: center;
    
}